body {
    background-color: #f3f3f3;
}

.body {
    background-color: #f3f3f3;
    text-align: center;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a {
    color: #0077cc !important;
    text-decoration: underline;
}

a span {
    color: #0077cc;
}

a[href^=tel] {
    color: #333333 !important;
    text-decoration: none;
}

a img {
    border: 0;
}

div, p, td {
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Helvetica', 'Arial';
    font-size: 15px;
    font-weight: normal;
    font-weight: 300;
    color: #333333;
    text-align: left;
    line-height: 20px;
}

hr {
    padding:0;
    margin:0;
    border:none;
    border-top:#ededed 1px solid;
}

table {
    border-collapse: collapse;
}

p {
    Margin:1em 0;
}

.h1 {
    font-family: 'Helvetica', 'Arial';
    font-size: 24px;
    font-weight: bold;
    font-weight: 700;
    color: #333333;
    text-align: left;
    line-height: 28px;
}

.cover {
    padding: 0 0 0 0;
}

.cover img {
    width: 100%;
    height: auto;
    max-width: 500px;
    height: auto;
    display: block;
}

/* Buttons */

.button {
    max-width: 260px;
}

.button .button-inner {
    padding:0;
    text-align: center;
}

.button-link {
    font-family: 'Helvetica', 'Arial';
    font-size: 18px;
    color:#00aeef !important;
    text-align: center;
    font-weight: 100;
    text-decoration: none;
    border:#00aeef 2px solid;
    padding:10px;
    display: block;
}

.outer {
    margin: 0 auto;
    max-width: 600px;
    width:100%;
}

.one-column, .two-columns, .three-columns, .four-columns {
    text-align: center;
    font-size: 0;
}
.column {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: left;
}
.one-column .column {
    max-width: 600px;
}
.two-columns .column {
    max-width: 300px;
}
.three-columns .column {
    width:49%;
    max-width: 200px;
}
.four-columns .column {
    max-width: 300px;
}

.row {
	background-color: #ffffff;
	border-top: #f3f3f3 1px solid;
	border-bottom: #f3f3f3 1px solid;
}

.preheader {
	background-color: transparent;
	display: none !important;
}

.preheader .cell {
	padding:10px 20px;
	font-size: 12px;
	line-height: 16px;
}

.goods {
    text-align: left;
}

.goods .itemPicture {
    width: 100%;
    height: auto;
}

.goods .itemPrice-cell {
    height: 45px;
    padding: 0;
}

.goods .itemPrice {
    font-family: 'Helvetica', 'Arial';
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
}

.goods .oldPrice {
    font-size: 14px;
    white-space: nowrap;
}

.goods .newPrice {
    white-space: nowrap;
    color: #fd001e;
}

.goods .itemCurrency {
    font-family: 'Helvetica', 'Arial';
    font-size: 13px;
}

.goods .itemDiscount {
    padding-top: 10px;
}

.goods .itemName-cell {
    height: 55px;
    padding: 0 0 10px 0;
}

.goods .itemName {
    font-family: 'Helvetica', 'Arial';
    font-size: 14px;
    line-height: 18px;
    text-transform: capitalize;
    text-align: left;
}

.goods .button {
    max-width: 110px;
}

.goods .button-link {
    border: gold 10px solid;
}

@media only screen and (max-width: 400px) {

}
@media screen and (min-width: 401px) and (max-width: 640px) {

}
