{% include "includes/start.html" %}
{% include "includes/header.html" %}
<tr>
	<td class="one-column content row">
		<div class="column">
			<table class="inner" width="100%" cellpadding="20">
				<tr>
					<td class="cell">
						{{ company.name }}
						<div class="h1">Email Development Framework</div>
						<p>Фреймворк для клевой верстки email рассылок. Иными словами - бутстрап для писем.</p>
					</td>
				</tr>
			</table>
		</div>
	</td>
</tr>
{% include "includes/footer.html" %}
{% include "includes/end.html" %}
